---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>About Marc</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About Marc</a>
    <h1>About Marc</h1>
    <h2>He's so fuzzy, I like to fuzz him.</h2>

    <p>Marc is a really nice guy. He's kind, sweet, and loyal. He tells funny jokes and is passionate about his hobbies.</p>
     <p>Above all, Marc's favorite thing in the world is the LRT. Long live LRT!!!1!</p>
  </body>
</html>