---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Marc Blog</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About Marc</a>
    <a href="/blog/">Marc Blog</a>
    <h1>Marc Blog</h1>
    <h2>Everything you want to know about Marc.</h2>

    <h3>Why Marc likes the LRT, an essay.</h3>
     <p>So, the LRT represents an ideal world to Marc. One where connection is enabled through cheap, eco-friendly, and communal public transport</p>
     <p>But mainly, Marc like train, train go brrrrrrrr.</p>
  </body>
</html>